name: Deploy Backend to Azure Web App

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'LAMAMedellin/src/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      AZURE_WEBAPP_NAME: app-lamamedellin-backend-prod
      PROJECT_PATH: LAMAMedellin/src/LAMAMedellin.API/LAMAMedellin.API.csproj
      PUBLISH_PATH: ./publish

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore $PROJECT_PATH

      - name: Build
        run: dotnet build $PROJECT_PATH --configuration Release --no-restore

      - name: Publish
        run: dotnet publish $PROJECT_PATH --configuration Release --no-build --output $PUBLISH_PATH

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.PUBLISH_PATH }}
